:root {
    --azul: #265073;
    --verde: #2D9596;
    --aqua: #9AD0C2;
    --cremita: #F1FADA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--azul);
}

header {
    padding: 3rem;
    display: flex;
    justify-content: space-around;
}

nav > a {
    background-color: var(--aqua);
    text-decoration: none;
    border: 1px solid black;
}

h1 {
    font-style: italic;
    color: var(--cremita);
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--cremita);
    font-style: italic;
}

a {
    border: black;
    background-color: var(--verdeOscuro);
    color: var(--azul);
    padding: 0.3rem;
    text-decoration: none;
}

a[href="#"] {
    background-color: var(--cremita);
}

main {
    text-align: center;
    background-color: var(--azul);
}
main img {
    max-width: 100%;
    width: 80%;
    height: auto;
}
footer {
  padding: 5rem;
}
footer img {
    float: left;
    width: 40rem;
    height: 40rem;
}
.foot1 {
   display: flex;
   justify-content: space-between; 
}
.foot2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.parrafo {
    padding-top: 5rem;
    overflow: hidden;
    font-size: 2rem;
    font-style: italic;
    color: var(--cremita);
}
article {
    margin-top: 4rem;
    padding: 2rem;
}
h6 {
    font-size: 2.5rem;
    color: var(--cremita);
    
}
.email {
    margin-top: 5rem;
}