:root {
    --azul: #265073;
    --verde: #2D9596;
    --aqua: #9AD0C2;
    --cremita: #F1FADA;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: var(--azul);
    color: var(--cremita);
}
a {
    text-decoration: none;
    color: var(--cremita);
    font-size: 1.5rem;
}
h1 {
    text-align: end;
    right: 2rem;
    width: 80%;
    font-size: 2.2rem;
    padding-top: 1rem;
}
main {
    background-color: var(--azul);
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    padding-top: 3rem;
    background-color: var(--azul);
    color: var(--cremita);
}
h2, .p1{
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--cremita);
}
th,td,tr {
    padding: 3rem;
    border: 2px solid black;
    border-collapse: collapse;
}
span {
    font-weight: bold;
}
.Extras {
    text-align: center;
    padding: 2rem;
    color: var(--cremita);
}
.Extras p {
    font-size: 1.5rem;
    text-align: start;
}
.directions {
    text-align: center;
}
.directions p {
    display: inline;
    text-align: center;
    padding-left: 15rem;
    font-size: 1.5rem;
}
footer {
    background-color: var(--cremita);
}